#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.characterlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.charactercard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.charactercard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px red
}

.charactercard h3 {
  margin-top: 0;
  color: blue;
  text-decoration: underline;
}

.app h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration:double underline;
}

.app button {
  color: red
}